:root {
  --white: ##ecf0f3;
  --lite: gray;
  --black: #000000;
  --blue: #661fff;
  --perpul: #e11fff;
  --perpul-50: #8e43e7;
}

.mobile_menu_wraper {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile_menu_list li a {
  padding: 0.5rem 5rem;
}

.profile_img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  font-size: 50px;
}

.tooltip {
  position: relative;
}
.tooltip {
  color: red;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--lite);
  padding: 2px 7px;
  border-radius: 10px 5px 5px 0;
  display: none;
}
.Profile_img:hover .tooltip {
  z-index: 111;
  display: block !important;
}

.logo_icon {
  color: var(--perpul);
}
